SITE_URL=https://psychology.edumynt.in
BASE_PATH=
PUBLIC_GITHUB_HANDLE=edumynt
PUBLIC_GITHUB_REPO=edumynt-psychology-blog
PUBLIC_TWITTER_HANDLE=
PUBLIC_CONTACT_EMAIL=
PUBLIC_GISCUS_ENABLED=false
PUBLIC_GISCUS_REPO=
PUBLIC_GISCUS_REPO_ID=
PUBLIC_GISCUS_CATEGORY=Announcements
PUBLIC_GISCUS_CATEGORY_ID=
